<section id="contact" class="s-contact target-section">

    <div class="row contact-top">
        <div class="column lg-12">
            <h2 class="text-pretitle">
                Get In Touch
            </h2>

            <p class="h1">
                Shoot me a message.
            </p>
        </div>
    </div>

    <div class="row contact-bottom">
        <div class="column md-6 tab-6 stack-on-550 contact-block">
            <h3 class="text-pretitle">Reach me at</h3>
            <p class="contact-links">
                <a target="_blank" href="mailto:{{contact.email}}" class="mailtoui">{{contact.email}}</a> <br>
                <a target="_blank" href="tel:{{contact.phone}}">{{contact.phone}}</a>
            </p>
        </div>
        <div class="column md-6 tab-6 stack-on-550 contact-block">
            <h3 class="text-pretitle">Social</h3>
            <ul class="contact-social">
                <li><a target="_blank" href="{{contact.linkedin}}">LinkedIn</a></li>
                <li><a target="_blank" href="{{contact.github}}">Github</a></li>
            </ul>
        </div>
        <!-- <div class="column lg-4 md-12 contact-block">
            <a href="mailto:{{contact.email}}" class="mailtoui btn btn--medium u-fullwidth contact-btn">Say Hello.</a>
        </div> -->
    </div>

</section>